{% extends 'base.html' %}

{% block content %}
    <p>Please enter your new password twice so we can verify you typed it in correctly.</p>

    <form method="post">
        {% csrf_token %}
        {#                <label for="id_new_password1">New password:</label>#}
        <input type="password" name="new_password1" autocomplete="new-password" required id="id_new_password1">
        {#                <label for="id_new_password2">Confirm password:</label>#}
        <input type="password" name="new_password2" autocomplete="new-password" required id="id_new_password2">
        {% for field in form %}
            {% for error in field.errors %}
                <p style="color: red">{{ error }}</p>
            {% endfor %}
        {% endfor %}
        <input type="submit" value="Change my password">
    </form>
{% endblock content %}